<h1>Trade request sent!</h1>
<p>If you specified a company to trade with, your trade has been sent to that company.
	<br>
<p>If you did not specify any company, NARA will send your trade request to the company(ies) which supply the product you wanted.</p>



