<link rel="stylesheet" href="/css/table.css" />
<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
  Trade Suggestions
		<div style="float: right; font-size:1em; font-weight:normal">
    		<a href="#">+ New Trade</a> &nbsp &nbsp
    </div>
	</div>
<div style="clear: both"></div> <br>

<div class="CSSTableGenerator" >
  <table >
        <thead>
            <td>Trade<br> Number</td>
            <td>Trade<br> Initiated By</td>
            <td>SKU<br> Offered</td>
            <td>Offer<br> Quantity</td>
            <td>SKU<br> Needed</td>
            <td>Needed<br>Quantity</td>
            <td>Status</td>
            <td>Created on</td>
        </thead>
    </table>
</div>
</section>

<aside>
  
  <section id="feed" role="complementary">

    <h1> Newsfeed here</h1>

</section>
</aside>