<h1>Donation process started!</h1>

<p>Your donation information has been sent to the logistics provider you specified.
	<br>
<p>If you did not specify any provider, NARA will send your donation info to the providers in its database which serve the target area.</p>



