<head>
    <title>A New, Sustainable, Economic System</title>
  <meta property="og:image" content="https://socioecons.herokuapp.com/images/fbnet2.png" />
  <script src="/js/jquery-1.11.2.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.scrolly.min.js"></script>
  <script src="js/jquery.dropotron.min.js"></script>
  <script src="js/jquery.scrollex.min.js"></script>
  <script src="js/skel.min.js"></script>
  <script src="js/skel-layers.min.js"></script>
  <script src="js/init.js"></script>
  <noscript>
    <link rel="stylesheet" href="css/skel.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-xlarge.css" />
  </noscript>
</head>

<body>
<section id="banner">
  <div class="content">
    <header>
      <h2>A new, sustainable economic system</h2>
      <p>based on the 'moral' economic science of Adam Smith</p>
    <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eSzSoHG-Ly8" frameborder="0" allowfullscreen></iframe>

    </header>
          <span class="image"><img src="images/smith.jpg" alt="" /></span>
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
      </section>

    <!-- One -->
      <section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img src="images/warming.jpg" alt="" /></span>
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="4u 12u$(medium)">
                <header>
                  <h2>Economics has failed to create a better world</h2>
                  <p>Economic progress has come at a huge, irreversible cost -- our planet.</p>

                </header>
              </div>
              <div class="4u 12u$(medium)">
                <p>The insatiable drive for profits, products, and sales has stripped the planet of its finite resources
                  and made it more inhospitable. Extreme weather has become the new normal, affecting rich and poor
                  countries alike.<br><br>Meanwhile, inequality and political instability have wreaked havoc in poorer countries, spawning a steady supply of conflict, terrorism, and refugees.</p>
              </div>
              <div class="4u$ 12u$(medium)">
                <img src="images/refugee.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
      </section>

      <section id="two" class="spotlight style3 left">
        <span class="image fit main bottom"><img src="images/opiumwars.jpg" alt="" /></span>
        <div class="content">
          <header>
            <h2>The solution was already created, but ignored</h2>
            <p>Adam Smith criticized the profit-driven mercantile system and proposed a sustainable economic system in <i>The Wealth of Nations</i>, which no one understood</p>
          </header>
          <p>Instead, economists of the 19th century slowly evolved mercantilism into capitalism, ensuring a constant supply of wars, exploitation, and refugees.</p>
          <ul class="actions">
            <li><a href="https://socioecons.wordpress.com/about/" class="button" target="_blank">See the Differences</a></li>
          </ul>
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
      </section>

<div><br><br></div>

      <section id="three" class="spotlight style2 right">
        <span class="image fit main"><img src="images/protests.jpg" alt="" /></span>
        <div class="content">
          <header>
            <h2>The coming crisis will start in Europe and eventually manifest as a global stagflation.</h2>
          </header>
          <p>By extending Smith's maxims, we can confidently predict that the profit maximization doctrine of capitalism will ensure a crisis bigger than the Lehman collapse, which will occur before 2020. In fact, the Greek crisis will create the spark, just as the sub-prime defaults sparked the Great Recession.</p>
          <!-- <p>Instead, later economists interpreted Smith's concept of 'self-interest' as 'selfish-interest' and the 'invisible hand' as the 'profit motive'.  In reality, those concepts were metaphysical in nature and meant <b>one's role in society</b> and <b>human <i>dharma</i></b>, respectively.</p> -->
          <ul class="actions">
            <li><a href="https://socioecons.wordpress.com/2015/04/20/how-to-fix-greece-and-the-eu-part-2/" target="_blank" class="button">See How Smith Would Fix Greece</a></li>
          </ul>
        </div>
        <a href="#four" class="goto-next scrolly">Next</a>
      </section>

<div><br><br></div>

      <section id="four" class="spotlight style1 bottom">
        <span class="image fit main"><img src="images/fbnet2.png" alt="" /></span>
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="4u 12u$(medium)">
                <header>
                  <h2>A Better Economic System Is Possible.</h2>
                  <p>As necessity is the mother of invention, we hope that the coming crisis will give Adam Smith's proposals for a sustainable economic science and system another chance to be heard.</p>
                </header>
              </div>
              <div class="4u 12u$(medium)">
                <p>Smith's maxims were designed to prevent recessions and inequality by removing the supremacy of money and by promoting the natural roles of governments, workers, and businessmen in society. These maxims, however, were quickly overturned by later economists who favored quick and excessive profits, by championing utility and calculus to justify profit and wealth maximization, which naturally lead to inequality and crashes.</p>
              </div>
              <div class="4u$ 12u$(medium)">
                <img src="images/wn.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <a href="#five" class="goto-next scrolly">Next</a> -->
      </section>
      
      <section id="five" class="spotlight style1 bottom">
        <span class="image fit main"><img src="images/social.gif" alt="" /></span>
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="4u 12u$(medium)">
                <header>
                  <h3>"I very much like this work: <em>A Research Proposal For The Formalization Of The Science Of Socio-economics And The Establishment Of A Non-Arbitrary Resource Allocation System.</em>"<br><br> <a href="https://sites.google.com/site/dhanjooghista/">Prof. Dhanjoo Ghista</a>, President, University 2020 Foundation</h3>
                </header>
              </div>
              <div class="4u 12u$(medium)">
                <h2>"I believe it is developing into a worthwhile project.."<br><br> <a href="http://adamsmithslostlegacy.blogspot.com/2015/04/simplified-adam-smiths-wealth-of.html">Prof. Gavin Kennedy</a>, Edinburgh Business School</h2>
              </div>
              <div class="4u 12u$(medium)">
                <h2>"This is a big issue of political economy and social science which need to be dealt with.."<br><br> <a href="http://www.wreac.org/people/harukiyo-hasegawa">Prof. Harukiyo Hasegawa</a>, Doshisha University</h2>
              </div>
            </div>
          </div>
        </div>
        <a href="#six" class="goto-next scrolly">Next</a> -->
      </section>
    
      <section id="six" class="wrapper style1 special fade-up">
        <div class="container">
          <header class="major">
            <h2>What it needs</h2>
            <p>The new science and system need many things to get off the ground</p>
          </header>
          <div class="box alt">
            <div class="row uniform">
              <section class="4u 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-globe"></span>
                <h3>An international organization to support it</h3>
                <p>Organizations which have a presence in various countries allow them to access a wide range of skilled individuals and also opportunities for implementation.</p>
              </section>
              <section class="4u 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-comment"></span>
                <h3>Collaboration by experts from various fields</h3>
                <p>The new economic science needs socio-economists, while the new economic system needs programmers.</p>
              </section>
              <section class="4u$ 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-pencil"></span>
                <h3>Publish, publish, publish</h3>
                <p>A lot of ideas can be derived from The Wealth of Nations which can be used to fix current problems. Among items in the 'pipeline' are: full versions of The Wealth of Nations and Theory of Moral Sentiments and a new <a href="https://socioecons.wordpress.com/2015/04/22/if-socioeconomics-had-a-textbook/">Socioeconomics textbook</a></p>
              </section>
              <section class="4u 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-flask"></span>
                <h3>Research funding and help</h3>
                <p>Though publishing is easy, establishing new institutions, such as an international clearing union, as advocated by Keynes and Smith, is not.</p>
              </section>

              <section class="4u 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-bar-chart-o"></span>
                <h3>Data, data, data</h3>
                <p>The new economic system uses supply chain barter which needs huge amounts of inventory data to implement Smith's labour theory of value.</p>
              </section>
              <section class="4u$ 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-exclamation"></span>
                <h3>More awareness of the sophistry of mercantilism and capitalism</h3>
                <p>Both want to amass private wealth and profits, for the public good. The more people know about this sophistry, the less dangers economies will be faced with.</p>
              </section>
            </div>
          </div>

        </div>
      </section>

      <section id="seven" class="wrapper style2 special fade">
        <div class="container">
          <header>
            <h2>For more information:</h2>
            <a href="https://socioecons.wordpress.com" class="button">Visit the website of the new economic science</a>
            &nbsp; &nbsp; 
            <a href="/" class="button">Go to the NARA app</a>
            <br><br><br>
            <h2>Or send an email to:</h2>
            <p><b>jddalisay@gmail.com</b></p>
          </header>
        </div>
      </section>
<!--
      <footer id="footer">
        <ul class="icons">
          <li><a href="https://www.facebook.com/jundalisay" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
          </ul>
      </footer> -->
</body>