<link rel="stylesheet" href="/css/table.css" />

<br><br>
<section id="left">


    <div style="float: left; width: 100%; font-size:2em; font-weight:bold">
    Credits
    </div>

    <div style="clear: both"></div> 
    <br>

<div class="CSSTableGenerator" >
    
    <table >
        <thead>
            <td>Person</td>
            <td>Credit</td>
        </thead>
        <tr>
            <td>Juan Dalisay Jr.</td>
            <td>NARA Concept and Research</td>
        </tr>
        <tr>
            <td>Tu Pham, Khue Pham</td>
            <td>Food and Lodging</td>
        </tr>
        <tr>
            <td>Eugene Villar, Wikimedia</td>
            <td>Mapping Consultation</td>
        </tr>
        <tr>
            <td>Max De Marzi Jr.</td>
            <td>Neovigator</td>
        </tr>  
    </table>
</div>
<br><br>


	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	Change Log
	</div>

    <div style="clear: both"></div> 
    <br>

<div class="CSSTableGenerator" >
    
    <table >
        <thead>
            <td>Date</td>
            <td>Notes</td>
        </thead>
        <tr>
            <td>Oct 15, 2015</td>
            <td>Forked naras as an open source version.</td>
        </tr>
        <tr>
            <td>Oct 14, 2015</td>
            <td>Added Text Search box.</td>
        </tr>

    </table>
</div>
<br><br>

<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
    To Do
</div>

    <div style="clear: both"></div> 
    <br>

<div class="CSSTableGenerator" >
<table >
        <thead>
            <td>Task</td>
            <td>Importance</td>
            <td>Urgency</td>
            <td>Difficulty</td>
            <td>Workaround</td>
        </thead>
        <tr>
            <td>Link databases</td>
            <td>High</td>
            <td>Med</td>
            <td>Very High</td>
            <td>Manual Updates</td>
        </tr>
        <tr>
            <td>Add search and matching functionality</td>
            <td>High</td>
            <td>Med</td>
            <td>High</td>
            <td>Hide Feature</td>
        </tr>
    </table>
</div>

</section>
