<link rel="stylesheet" href="/css/table.css" />

<br><br>
<section id="left">

	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	Change Log
	</div>

    <div style="clear: both"></div> 
    <br>

<div class="CSSTableGenerator" >
    
    <table >
        <thead>
            <td>Date</td>
            <td>Notes</td>
        </thead>
        <tr>
            <td>April 28, 2015</td>
            <td>Fixed main disaster map</td>
        </tr>
        <tr>
            <td>April 4, 2015</td>
            <td>Added barter tax to Trades and measures to SKUs.</td>
        </tr>
        <tr>
            <td>April 1, 2015</td>
            <td>Changed businessmap to mapbox.</td>
        </tr>
        <tr>
            <td>March 30, 2015</td>
            <td>Totally revamped the Trade model and workflow</td>
        </tr>
        <tr>
            <td>March 23, 2015</td>
            <td>Fixed the basic Trade model and controllers</td>
        </tr>
        <tr>
            <td>March 22, 2015</td>
            <td>Added Needs & Makes< and changed the demo data to bakers etc</td>
        </tr>
        <tr>
            <td>March 18, 2015</td>
            <td>Fixed Associations completing the basic data model</td>
        </tr>
        <tr>
            <td>March 17, 2015</td>
            <td>Added General Disaster Map and Specific Disaster Maps</td>
        </tr>
        <tr>
            <td>March 10, 2015</td>
            <td>Added Services Table to represent Smith's unproductive labour</td>
        </tr>
        <tr>
            <td>March 6, 2015</td>
            <td>Loading was becoming slower with more tables so added loading icon</td>
        </tr>
        <tr>
            <td>March 4, 2015</td>
            <td>Replaced User Logon with Company Logon</td>
        </tr>
        <tr>
            <td>Feb 27, 2015</td>
            <td>Added User Auth and users table</td>
        </tr>
        <tr>
            <td>Feb 21, 2015</td>
            <td>Changed Company CRUD into SKU CRUD.<br>
            Overhauled the Trade Page as the Trade Dahsboard.<br>
            Created sample Newsfeed UIs for the SKU and Trade Pages.</td>
        </tr>
        <tr>
            <td>Feb 20, 2015</td>
            <td>Started to hotlink test images to save time</td>
        </tr>
        <tr>
            <td>Feb 19, 2015</td>
            <td>Branched nara sys as an official version and startnara as the public version</td>
        </tr>
        <tr>
            <td>Feb 17, 2015</td>
            <td>Added Postgre and Companies CRUD on SQLite</td>
        </tr>
        <tr>
            <td>Feb 14-ish</td>
            <td>Added Newsfeed UI sample</td>
        </tr>
        <tr>
            <td>Feb 10-ish</td>
            <td>Manually hardcoded nodes</td>
        </tr>
        <tr>
            <td>Feb start-ish</td>
            <td>Deployed startnara.herokuapp.com as an instructional, proof-of-concept version</td>
        </tr>
        <tr>
            <td>Jan 20-ish</td>
            <td>Switched from Grails on Appfog to Ruby on Heroku, starting version 0.0.3</td>
        </tr>
    </table>
</div>
<br><br>

<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
    To Do
</div>

    <div style="clear: both"></div> 
    <br>

<div class="CSSTableGenerator" >
<table >
        <thead>
            <td>Task</td>
            <td>Importance</td>
            <td>Urgency</td>
            <td>Difficulty</td>
            <td>Workaround</td>
        </thead>
        <tr>
            <td>Link databases</td>
            <td>High</td>
            <td>Med</td>
            <td>Very High</td>
            <td>Manual Updates</td>
        </tr>
        <tr>
            <td>Add search functionality</td>
            <td>High</td>
            <td>Med</td>
            <td>High</td>
            <td>Hide Feature</td>
        </tr>
        <tr>
            <td>Fix maps</td>
            <td>Med</td>
            <td>Low</td>
            <td>High</td>
            <td>Hide Feature</td>
        </tr>
        <tr>
            <td>Make Everything Responsive</td>
            <td>Very Low</td>
            <td>Very Low</td>
            <td>Med</td>
            <td>Hide Feature</td>
        </tr>
    </table>
</div>

</section>