<head>
<script src="/js/lp.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
</head>
<body>

<div id='my-legend' style='display: none;'>
  Each marker represents a company. Click on each to see the company's products or needs, then click on the Company name to see its profile in NARA or click on Create Trade to make an offer or request for the products needed or made by it. 
</div>

<div id='map' style="height: 95%; top:50px"></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoianVuZGFsaXNheSIsImEiOiI4SExFRGZzIn0.HqmE2skQkKkhqfMnUDT1Qg';
var map = L.mapbox.map('map', 'jundalisay.lk3me7ne')
    .setView(new L.LatLng(14.445, 120.992574),18);

var myLayer = L.mapbox.featureLayer().addTo(map);

// Add custom popups to each using our custom feature properties
myLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<img src="' + feature.properties.image + '" /><br>' + '<a target="_blank" class="popup" href="/users/' + feature.properties.urlid + '">' + feature.properties.name + '</a><br>' +  'Needs:' +
                            feature.properties.needs + '<br>Supplies:' + feature.properties.supplies + '<br><a href="/trades/create"><button>Create Trade</button></a>' ;

    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent,{
        closeButton: false,
        minWidth: 320
    });
});

// Add features to the map
myLayer.setGeoJSON(geoJson);

map.legendControl.addLegend(document.getElementById('my-legend').innerHTML);
// myLayer.on('mouseover', function(e) {
//     e.layer.openPopup();
// });
// myLayer.on('mouseout', function(e) {
//     e.layer.closePopup();
// });

</script>


</body>
</html>
