<link rel="stylesheet" href="/css/table.css" />
<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	Search Results: 
	</div>
<div style="clear: both"></div> <br>

<div class="CSSTableGenerator" >
  <table >
        <thead>
            <td>Trade<br> Number</td>
            <td>Trade<br> Initiated By</td>
            <td>SKU<br> Offered</td>
            <td>Offer<br> Quantity</td>
            <td>SKU<br> Needed</td>
            <td>Needed<br>Quantity</td>
            <td>Status</td>
            <td>Created on</td>
        </thead>


    </table>
</div>
</section>

<aside>
  Sample NewsFeed:
  <section id="feed" role="complementary">
    <div class="blocks">50<br> <div style="font-size: 15px; font-weight:normal"><small>Incoming Trade<br> Requests</small></div> </div>
    <div class="blocks">12<br> <div style="font-size: 15px; font-weight:normal"><small>Outgoing Trade</small><br> Requests</div> </div>
    <div class="blocks">3<br> <div style="font-size: 15px; font-weight:normal"><small>In Process</small></div> </div>
    <div style="clear:both"></div>
    <hr>
    <br>

</section>
</aside>