<br>
<h1>Edit service</h1>
<br/>
<div style="margin-left: 10px">
<form action="/services/<%= @service.id %>" method="post">
	<div class="form-group">
		<input type="hidden" name="_method" value="put" />
  		<label for="service_name">service Name:</label>&nbsp; &nbsp; &nbsp; &nbsp;
  		<input id="service_name" class="form-control" name="service[name]" type="text" value="<%=h @service.name %>" />
 	</div>
 	<br>
<label for="service_quantity">Classification:</label> &nbsp;
	<select id="service_classification" name="service[classification]">
  		<option value="arts">Arts, Crafts, Needlework</option>
  		<option value="audio">Audio Visual and Photography </option>
  		<option value="automotive">Automotive</option>
  		<option value="baby">Baby Care</option>
  		<option value="beauty">Beauty, Personal Care, and Hygiene</option>
  		<option value="building">Building Products</option>
  		<option value="camping">Camping</option>
  		<option value="cleaning">Cleaning Products</option>
  		<option value="clothing">Clothing</option>
  		<option value="communications">Communications</option>
  		<option value="computers">Computers</option>
  		<option value="cross">Cross Segment</option>
  		<option value="electrical">Electrical Supplies</option>
  		<option value="food">Food, Beverage. and Tobacco</option>
  		<option value="footwear">Footwear</option>
  		<option value="fuels">Fuels</option>
  		<option value="healthcare">Healthcare</option>
		<option value="appliances">Home Appliances</option>
		<option value="horticulture">Horticulture Plants</option>
  		<option value="furnishings">Household and Office Furnishings</option>
  		<option value="kitchen">Kitchen Merchandise</option>
  		<option value="garden">Lawn and Garden Supplies</option>
  		<option value="animals">Live Animals</option>
		<option value="lubricants">Lubricants</option>
		<option value="personal">Personal Accessories</option>
		<option value="pet">Pet Care</option>
		<option value="plumbing"> Plumbing, Heating, Ventilation, and Air Conditioning</option>
		<option value="print">Printed Materials</option>
		<option value="safety">Safety and Protection</option>
		<option value="security">Security and Surveillance</option>
		<option value="services">Services</option>
		<option value="sports">Sports Equipment</option>
		<option value="stationery">Stationery and Office Supplies and Machinery</option>
		<option value="storage">Storage and Haulage Containers</option>
		<option value="tools_hand">Tools and Equipment (Hand)</option>
		<option value="tools_power">Tools and Equipment (Power)</option>
		<option value="toys">Toys and Games</option>
  	</select>
 		<br>
 		<br>
 			<label for="service_quantity">Quantity:</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 			<input id="service_quantity" class="form-control" name="service[quantity]" type="number" value="<%= @service.quantity %>" style="width=90%"/>
 		<br>
 		<br>


 	<div class="form-group">
  		<label for="service_description">Description:</label> &nbsp; &nbsp; 
  		<textarea id="service_description" name="service[description]" class="form-control"><%=h @service.description %></textarea>
 	</div>
 	<br>
  	<button type="submit" class="btn btn-success">Submit</button>
</form>
</div>